/* 
    Document   : style.css
    Created on : Jun 12, 2013, 11:39:00 PM
    Author     : Luis Romero <luisgromero@live.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    /*display: block;*/
}

body{
    background-color: #d4d4d4;
}

#wrapper{
    background: #ddd;
    height:auto;
}

#wrapper-search{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: auto;
}

input{
    margin-top: 8px;
}

#table-wrapper{
    border: 1px solid #000;
    height: auto;
}

button#btn-add{background: #0081c2;
color:#fff;}


td span#address{
    padding-left: 5px;
}

#table-data-options{
    position:relative;
    float: right;
}

#table-data-options button{
   
}

#app-title{
    margin-bottom: 50px;
}


input#autocomplete{
    /*width: 50%;*/
}